<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap-sidebar/0.2.2/css/sidebar.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">springboot 演示</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/hello}">hello示例</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/demoView/thymeleaf}">thymeleaf示例</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/demoView/freemaker}">freemaker示例</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin: 60px 10px 10px;">
    <a th:href="@{/demoView/index}" >点我点我</a>
</div>

</body>
</html>